/*
    Sample css comment that will be ignored
*/
@import "other.css";

div > p ~ a + input,
#some-id[data-value~='foo' i]::before,
div.some-class#of-pop:where(p > a, :pseudo-invalid) {
    accent-color: activetext;
    accent-color: currentcolor;
    accent-color: auto;
    accent-color: unset;
    color: inherit;
    color: red;
    color: transparent;
}
